body {
    position: relative;
    background-color: rgba(161, 158, 158, 0.158);
    min-height: 900px;
}

#wrapper {
    min-height: 900px;
}

.card {
    margin: 10px;
    margin-bottom: 30px;
    min-width: 350px;
    max-width: 350px;
    height: 300px;
}

h1,
.img {
    padding: 20px;
}

.pagination {
    padding-left: 16px;
 
}

.padding-top {
    padding-top: 60px;
}

.padding-bottom {
    padding-bottom: 80px;
}

.padding-left {
    padding-left: 35px;
}