html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    background-color: rgba(161, 158, 158, 0.158);
   /*  min-height: 900px; */
}

#wrapper,
.article, .error {
    min-height: 900px;
}

.error > h1 {

    text-align: center;
    padding-top: 150px;
}
.error>.text-center>img {
   min-width: 500px;
    
}

.card {
    margin: 10px;
    margin-bottom: 30px;
    min-width: 350px;
    max-width: 350px;
    min-height: 250px;
}

h1,
.img {
    padding: 20px;
}

.pagination {
    padding-left: 16px;
 
}

.padding-top {
    padding-top: 60px;
}

.padding-bottom {
    padding-bottom: 40px;
}

.padding-left {
    padding-left: 35px;
}
.titre-single{
    padding: 50px;
    text-decoration: underline;
    text-shadow: 4px 6px #3a3a3a2c;
}