.navbar {
    /*  z-index: 1000; */
    /* margin-bottom: 150px; */
    background: rgb(2, 141, 196) !important;
    color: white;
}

.nav-link {
    color: white !important;
    font-weight: 500;
}

.nav-link:hover{
    color: rgb(65, 64, 64) !important;
    font-weight: 800;
    /* font-size: 1.1em; */
    background-color: rgba(35, 183, 241, 0.137);
    border-radius: 5px;
}
