{% include 'parts/header.twig' %}
{% include 'parts/navbar.twig' %}
{% include 'parts/sidenavdebut.twig' %}


  <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>


 <h1>
 test wysiwyg
 </h1>


 <form method="post" action='post'>
    <div class="form-group">


        <textarea>
  
texte ici
  
        </textarea>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>



<div class="card" style="width: 80%;">
  <div class="card-body">
    <h5 class="card-title">Nom du chapitre</h5>
    <h6 class="card-subtitle mb-2 text-muted">chapitre numero : ?</h6>
    <p class="card-text">les 150 premieres lettres pour un apperçu rapide ....</p>
    <a href="#" class="card-link">editer</a>
    <a href="#" class="card-link">supprimer</a>

    <p>
    commentaires
 <span class="badge badge-primary badge-pill">14</span>
    </p>

    <p>
    signalements
 <span class="badge badge-primary badge-pill">14</span>
    </p>
 
  </div>
</div>


<br>





{% include 'parts/sidenavfin.twig' %}
{% include 'parts/footer.twig' %}
{% include 'parts/endScript.twig' %}