{% include 'parts/header.twig' %}
{% include 'parts/navbar.twig' %}
{% include 'parts/sidenavdebut.twig' %}




<h1>
tableau de bord
</h1>

<br>



{% include 'parts/sidenavfin.twig' %}
{% include 'parts/footer.twig' %}