
{% include 'parts/header.twig' %}
{% include 'parts/navbar.twig' %}


<div class="error">
<h1>

erreur 404 page non trouvé

</h1>

<div class="text-center">
<img src="{{ constant('ROOT') }}/includes/images/giphy.gif" class="img-fluid" alt="jcvd">
</div>

</div>

{% include 'parts/footer.twig' %}
{% include 'parts/endScript.twig' %}