{% include 'header.twig' %}
{% include 'navbar.twig' %}
{# {% include 'sidenav.twig' %} #}


<div class = "article">

<h1 class="text-center">
{{ article.title }}
</h1>

</div>



{# {% include 'loginform.twig' %} #}
{% include 'footer.twig' %}