{% include 'parts/header.twig' %}
{% include 'parts/navbar.twig' %}
{# {% include 'sidenav.twig' %} #}

<div class="container article">



    <h1 class="text-center titre-single">
        {{ article.title|raw }}
    </h1>

    {{ article.text|raw }}

</div>

<hr><hr>


</div>
{% include 'parts/comments.twig' %}
 {% include 'parts/footer.twig' %} 
{% include 'parts/endScript.twig' %}