{% include 'parts/header.twig' %}
{% include 'parts/navbar.twig' %}
{# {% include 'sidenav.twig' %} #}


<div class = "container article">

<h1 class="text-center">
{{ article.title|raw }}
</h1>


{{ article.text|raw }}

</div>







{# {% include 'loginform.twig' %} #}
{% include 'parts/footer.twig' %}