<div class="container content-center padding-bottom">
    {% if nbr_pages > 1  %}

    <nav aria-label="Page navigation example">
    <ul class="pagination"> 

        {% if index_page > 1  %}

            <li class="page-item"><a class="page-link" href="/blog/chapitres/{{index_page - 1}}">Précédents</a></li>
        {% endif %}

        {% for i in range(1, nbr_pages) %}
            <li class="page-item">
            <a class="page-link" href="/blog/chapitres/{{ i }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if index_page <= nbr_pages -1 %}

            <li class="page-item"><a class="page-link" href="/blog/chapitres/{{index_page + 1}}">Suivant</a></li>
        {% endif %}

    </ul>
    </nav>
    {% endif %}

    </div>