<div id="wrapper" class="">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            {#             <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li> #}
            <li>
                <a href="/blog/admin">Tableau de bord</a>
            </li>
            <li>
                <a href="/blog/admin/articles/list">Articles</a>
            </li>
            <li>
                <ul>
                    <li>
<a href="/blog/admin/articles/ajouter">rediger un article</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="/blog/admin/comments">Commentaires</a>
            </li>
            <li>
                <ul>
                    <li>
                        <a href="/blog/admin/news">Nouveaux</a>
                    </li>
                    <li>
                        <a href="/blog/admin/reported">Signalés</a>
                    </li>

                    <li>
                        <a href="/blog/admin/approuved">Vérifiés</a>
                    </li>
                </ul>

            </li>

        </ul>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <a href="#menu-toggle" class="btn btn-lg btn-outline-success" id="menu-toggle">menu latteral</a>
        </div>

        <br>
        <div class="container">